---
- name: Install and Start Splunk
  hosts: splunk
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Remove old package
      file:
        path: /tmp/splunk.deb
        state: absent

    - name: Download Splunk Enterprise 10.0.2
      shell: 'wget -O /tmp/splunk.deb "https://download.splunk.com/products/splunk/releases/10.0.2/linux/splunk-10.0.2-e2d18b4767e9-linux-amd64.deb"'

    - name: Install Splunk package
      apt:
        deb: "/tmp/splunk.deb"

    - name: Accept License and Start Splunk
      command: /opt/splunk/bin/splunk start --accept-license --answer-yes --no-prompt --seed-passwd changeme123
      args:
        creates: /opt/splunk/etc/splunk.secret