---
- name: Install and Start Splunk
  hosts: splunk
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Remove corrupted package if exists
      file:
        path: "/tmp/splunk.deb"
        state: absent

    - name: Download Splunk using wget
      shell: "wget -O /tmp/splunk.deb 'https://download.splunk.com/products/splunk/releases/9.3.3/linux/splunk-9.3.3-09095690b224-linux-2.6-amd64.deb'"

    - name: Install Splunk package
      apt:
        deb: "/tmp/splunk.deb"

    - name: Accept License and Start Splunk
      command: /opt/splunk/bin/splunk start --accept-license --answer-yes --no-prompt --seed-passwd changeme123
      args:
        creates: /opt/splunk/etc/splunk.secret